.introduction-game {
  @include span-columns(10);
  @include shift(1);

  color: $white;
  font-size: modular-scale(4);
  letter-spacing: 0.02em;
  padding-top: $small-spacing;
  text-align: center;
}

svg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  fill: #f9F9F9;
  width: 60%;
}
